<div class="signin" align="center">
  <h5>Log in</h5>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col l6 s12">
      <div class="input-field" >
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="col l6 s12" >
      <div class="input-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <br>
    <% if devise_mapping.rememberable? -%>
      <div class="col l12 s12">
        <%= f.check_box :remember_me, class: 'filled-in'  %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br>
    <div class="col l12 s12">
      <div class="col s12">
        <%= f.submit "Log in", class: 'boton' %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="col s12 l12">
    <%= render "users/shared/links" %>
  </div>
</div>
