<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to 'NH', root_path, id: 'logo-container', class: 'brand-logo'%>
      <ul class="right hide-on-med-and-down">
        <li><a id="lista" href="#">Portafolio</a></li>
        <li><%= link_to 'Contáctame', new_contact_path, id: 'lista'%></li>
        <li><%= link_to 'Sobre mí', aboutme_index_path, id: 'lista'%></li>
        <% if signed_in? %>
          <li><%= link_to 'Comentarios', contacts_path, id: 'lista'%></li>
          <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, id: 'lista'%></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="sidenav">

        <li><div class="user-view">
          <div class="background">
            <%= image_tag("back.png")%>
          </div>
          <a href="#user"><%= image_tag("logosx.png", class: 'circle')%></a>
          <a href="#name"><span class="name" id="lista">Nayzareth Hurtado</span></a>
          <a href="#phone"><span class="phone" id="lista">+58 414 8076973</span></a>
          <a href="#email"><span class="email" id="lista">hurtado.nayza@gmail.com</span></a>
        </div></li>

        <li><a id="lista" href="#">Portafolio</a></li>
        <li><%= link_to 'Contáctame', new_contact_path, id: 'lista'%></li>
        <li><%= link_to 'Sobre mí', aboutme_index_path, id: 'lista'%></li>
        <% if signed_in? %>
          <li><%= link_to 'Comentarios', contacts_path, id: 'lista'%></li>
          <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, id: 'lista'%></li>
        <% end %>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<script>
(function($){
  $(function(){

    $('.sidenav').sidenav();
    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>

