<!DOCTYPE html>
<html>
  <head>
    <title>NAH.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'nah.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <%= render "layouts/header"%>
    <%= render "layouts/parallaxup"%>

    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>
    <%= render "layouts/footer"%>
  </body>
</html>
